.listWrapper {
  height: calc(100% - 60px);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  // height: calc(100% - 60px);
  height: 100%;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #b1b1b1;
  border: 1px solid #ddd;

  &.mediumImages {
    width: 50%;
    height: 50%;
  }
  
  &.maxImages {
    width: 33.3333%;
    height: 50%;
  }

  img {
    max-height: 90%;
    background-color: #ddd;
  }
  
  h6 {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: rgba(93, 93, 93, 0.76);
    border-radius: 100px;
    color: #fff;
    font-weight: normal;
  }
}
